*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    width:100%;
    flex-direction: column;
    background:#f0f0f3;
}
#canvas{
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
    border-radius: 12px;
}

.imgUploader{
    margin-top:30px;
    height:150px;
    width:200px;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(240, 40, 40, 0.4);
    border-radius: 12px;
    padding:10px 5px;
}

.imgUploader p{
    margin-bottom:30px;
    text-align:center;
    font-size:1.2rem;
    font-weight:bold;
}